/* ESERCIZIO 1 */
.ex-1-square {
    transition: all 2s ease-out;
}


.ex-1-square:hover {
    background-color: red;
}



/* ESERCIZIO 2 */
.ex-2-square {
    transition: all 2s ease-out;    
}

.ex-2-square:active {
    width: 100%;
}
